<style type="text/css">
body {
background-image:url('http://PASTE-YOUR-URL-HERE/image.jpg');
background-attachment:scroll; <!-- (change "scroll" to "fixed" if you do not want the image to move) --!>
}
</style>
a {
	color: black;
	font-weight: normal;
}

p {
	font-size: 18px;
	font-weight: normal;
}

.wrap {
	width: 1100px;
	margin-left: auto;
	margin-right: auto;

}

.wrapLogoNav {
	height: 130px;
	width: 100%;
	
}

.logo {
	float: left;
	margin-top: 25px;
	margin-right: 25px;

}

.nav {
	margin: 70px 0px 0px 0px;
	float:right;
	font-size: 12px;
	font-family: Arial;
	width: 500px;
}

.nav ul {
	margin:0px;
	padding: 0px;

}

.nav ul li {
	margin:0px;
	padding: 0px 10px;
	list-style: none;
	display: inline;
}

.nav ul li+li { 
	border-left: 1px solid white;
}

.nav ul li a{
	margin:0px;
	padding: 0px;
	display: inline;
	text-decoration: none;
	font-weight: bold;
}

.nav ul li a:hover {
	text-decoration: underline;
}

.wrapContent {
	width: 100%;

}

.wrapContent h1 {
	font-size: 24px;
	font-weight: normal;
	margin-left: auto;
	margin-right: auto;
	width: 555px;
	
}

.wrapContent h3 {
	color: rgba {209,209,209,1};
	font-size: 14px;
	font-weight: normal;
	font-family: Arial;
	margin-left: auto;
	margin-right: auto;
	width: 555px;
	margin-top: -5px;
	padding-top: 0;
	
}

.main {
	height: 430px;
	width: 690px;
	float: left;
	padding: 0px 10px;
	margin-top: -5px;
}





.sidebar {
	height: 440px;
	width: 350px;
	float: right;
	padding: 15px 5px;
}

.sidebar ul li {
	margin-bottom: 10px;
	font-size: 18px;

}

.vid {
	clear: both;
	height: 310px;
	width: 515px;
	margin-left: auto;
	margin-right: auto;
	
}
img {
    float: right;
}
